################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/01/Lab01/.vs/Lab01/FileContentIndex/fb0b51b9-ff50-4c25-a2c1-8ba0fd475717.vsidx
/01/Lab01/.vs/Lab01/FileContentIndex/1df35249-a31f-4c71-84be-832b9d539874.vsidx
/01/Lab01/.vs/Lab01/FileContentIndex/e8161c8a-2670-4ec3-80de-168d3f69cf68.vsidx
/01/Lab01/.vs/LabsInSpecialist/FileContentIndex
/01/Lab01/.vs/Lab01/FileContentIndex
