################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/01/Lab01/.vs/Lab01/FileContentIndex/fb0b51b9-ff50-4c25-a2c1-8ba0fd475717.vsidx
